
	<div class="container">
		<div class="row header">
			<div class="col-xs-12">
				<h2>{{userName}}</h2>
			</div>	
		</div>
		<div class="row main-stats">
			<div class="col-xs-6 text-left">
				<h3>Total Score: {{totalScore}}</h3>
			</div>
			<div class="col-xs-6 text-right">
				<h3>Status: {{userStatus}}</h3>
			</div>
		</div>
		<div class="row">	
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>Hiragana - Sound</h4>
					<h5>Score: {{hiraganaSoundScore}}</h5>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
					    <thead>
					      <tr>
					        <th>Games</th>
					        <th>Mastered</th>
					        <th>Missed</th>
					        <!-- <th>Review Missed for More Points</th> -->
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="game in hiraganaSoundGames">
					        <td>
					        	<p>{{game.date.substr(0, 10) + ' ' + game.date.substr(11, 5)}}</p>
					        </td>
					        <td>{{game.masteryDeck.length}}</td>
					        <td>{{game.reviewDeck.length}}</td>
					       <!--  <td><button>Review</button></td> -->
					      </tr>
					    </tbody>
					 </table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-info">
				<div class="panel-body user-message">
					<p>Earn 500 points to unlock more games!</p>
					<button class="btn btn-success" ng-click="goHome()">Play Games</button>
				</div>
			</div>
		</div>
	</div> <!-- End container -->