<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Final Project</title>

	 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<div class="row header">	
			<h2>KanaNinja245</h2>
			<h4>Japanese Track</h4>	
		</div>
		<div class="row main-stats">
			<h3>Total Score: 70</h3>
			<span class="float-right"><h4>Status: Beginner</h4></span>
		</div>
		<div class="row body">
			<div class="panel-group">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h4>Hiragana - Sounds</h4>
						<h5>Score: 70</h5>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
						    <thead>
						      <tr>
						        <th>Games</th>
						        <th>Mastered</th>
						        <th>Missed</th>
						        <th>Review Missed for More Points</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <td>
						        	<p>Game 3</p>
						        	<p>6/28/2015</p>
						        </td>
						        <td>35</td>
						        <td>11</td>
						        <td><button>Review</button></td>
						      </tr>
						      <tr>
						        <td>
						        	<p>Game 2</p>
						        	<p>6/22/2015</p>
						        </td>
						        <td>25</td>
						        <td>21</td>
						        <td><button>Review</button></td>
						      </tr>
						      <tr>
						        <td>
						        	<p>Game 1</p>
						        	<p>6/20/2015</p>
						        </td>
						        <td>10</td>
						        <td>36</td>
						        <td><button>Review</button></td>
						      </tr>
						    </tbody>
						 </table>
					</div>
    			</div>
			    <div class="panel panel-info">
			      	<div class="panel-heading">Panel Header</div>
			      	<div class="panel-body">Panel Content</div>
			    </div>
			    <div class="panel panel-warning">
			     	<div class="panel-heading">Panel Header</div>
			     	<div class="panel-body">Panel Content</div>
			    </div>
  			</div> <!-- End panel group -->
		</div> <!-- End body row -->

	</div> <!-- End container -->

</body>

</html>